<plugin name='paypal' version='0.6.10' grailsVersion='1.1 &gt; *'>
  <author>Matthias Bohlen, (originally by Graeme Rocher, followed by Matt Stine)</author>
  <authorEmail>mbohlen@mbohlen.de, matt@mattstine.com</authorEmail>
  <title>Provides integration with Paypal's Instant Payment Notfication (IPN) system</title>
  <description>This plug-in allows Grails applications to integrate with Paypal and its Instant Payment Notification (IPN) system.

A PayPalController is provided that has a "notifyPaypal" action which deals with responses from the PayPal IPN. In order for this to function
you need to enable IPN in your PayPal Profile under Profile / Instant Payment Notification Preferences and provide PayPal with the URL
you have mapped the "notify" action to.

In order for this plug-in to function you must configure the following settings in Config.groovy:

* grails.paypal.server - The URL of the paypal server
* grails.paypal.email - The email of the merchant account
* grails.serverURL - The server URL for production
</description>
  <documentation>http://grails.org/plugin/paypal</documentation>
  <type>PaypalGrailsPlugin</type>
  <resources>
    <resource>PaypalUrlMappings</resource>
    <resource>org.grails.paypal.PaypalController</resource>
    <resource>org.grails.paypal.BuyerInformation</resource>
    <resource>org.grails.paypal.Payment</resource>
    <resource>org.grails.paypal.PaymentItem</resource>
    <resource>org.grails.paypal.PaypalTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>